<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>GURPS</title>
</head>
<body>
    <header>
        <h1>LOGO GURPS</h1>
        <nav>
            <ul>
                <li>Criar Ficha</li>
                <li>Bau de Fichas</li>
                <li>Sair</li>
            </ul>
        </nav>
    </header>
    <article>conteudo</article>
    <footer>fim da pagina</footer>
    
</body>
</html>