body {
  margin: 0;
  display: grid;
  background-color: #FFFFFF;
  grid-template-rows: 1fr 3.8fr 0.2fr;
  grid-template-areas: "menu"
      "conteudo"
      "rodape";


}
.logoGurps, .criar, .bau, .sair{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.logo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  }

.logo img{
  width: 13vw;
}

.logoGurps h1{
  grid-area: titulo;
  color: white;
  font-size: 1.7vw;
  margin: 0;
}


body header {
  grid-area: menu;
  background-color: rgba(0, 0, 0, 0.26);
  display: grid;
  grid-template-areas: "titulo criar bau sair";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  height: 20vh;

}

.criar{
  grid-area: criar;
}
.bau{
  grid-area: bau;
}
.sair{
  grid-area: sair;
}

.botaomenu{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;

}

.botaomenu img{
  width: 5vw;

}
.menutxt{
  font-size: 2vw;
  color: black;
  font-weight: bolder;
}
.backgroundgurps{
  display: flex;
  justify-content: center;
}

#backgroundgurps_img{
  width: 77.5vw;
}

body article {
    grid-area: conteudo;
    background-color: #671814;

    }
body footer {
    grid-area: rodape;
    background-color: #000000;

}

.menupopup1{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.menupopup2{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }

  .popup3 {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    width: 20vw;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .h2 {
    margin-top: 0;
    color: #333;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #d80606;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
.endfooter{
  display: flex;
  color: #ffffff;
  font-family: "Roboto Condensed",Roboto,Helvetica,sans-serif;
  font-size: 12px;
  line-height: 2.14vw;
  flex-direction: column;
  align-items: center;
}



    