body {
    display: grid;
    background-color: #FFFFFF;
    grid-template-columns: auto;
    grid-template-rows: 20vh 60vh auto;
    grid-template-areas: 
    "menu" 
    "conteudo" 
    "rodape";


}
body header {
    grid-area: menu;
    background-color: #2B2E4A;
    display: grid;
    grid-template-areas: "titulo menu";
    grid-template-rows: 30vw auto;
    align-items: baseline;

}

body header h1 {
    grid-area: titulo;
    color: white;
    

}

body header nav {
    grid-area: menu;
    color: rgb(182, 7, 7);

    

}

nav ul {
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
    grid-auto-columns: 25vw;


}

body article {
    grid-area: conteudo;
    background-color: #E84545;

    }
body footer {
    grid-area: rodape;
    background-color: #53354A;

}

ul{
    margin: 0;

    box-sizing: border-box;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #d80606;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
    